{% extends "base.html" %} {% block content %}
<div class="row">
  {% for material in materials %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ material.name }}</h5>
        <p class="card-text">
          Carbon Footprint: {{ material.carbon_footprint }}<br />
          Recyclability: {{ material.recyclability }}%<br />
          Sustainability Score: {{ material.sustainability_score }}/100
        </p>
        <a href="/materials/{{ material.id }}" class="btn btn-primary"
          >Learn More</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
