/* Green background for the navbar */
.navbar {
    background-color: #28a745 !important;  /* Custom green */
  }
  
  /* Make the footer background gray */
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    font-size: 14px;
  }
  
  /* Custom button colors */
  .btn-primary {
    background-color: #25b747;
    border-color: #24c64a;
  }
  
  .btn-primary:hover {
    background-color: #25b747;
    border-color: #24c64a;
  }
  
  /* Larger text area */
  textarea {
    font-size: 1.1em;
    padding: 10px;
  }
  