/* General Styling for the Materials Page */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #2dc551;
  }
  
  /* Card Styling */
  .option-card {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .option-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Styling */
  .table {
    margin-top: 1rem;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    vertical-align: middle;
    padding: 12px;
    text-align: center;
  }
  
  .table thead th {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 1rem;
    color: #333;
  }
  
  /* Table hover effect */
  .table-hover tbody tr:hover {
    background-color: #f7f7f7;
  }
  
  /* Button Styling */
  .btn-primary {
    background-color: #25b747;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #209f42;
    transform: translateY(-3px);
  }
  
  /* Table Borders */
  .table-bordered td, .table-bordered th {
    border: 1px solid #ddd;
  }
  
  /* Text Styling for Material Options */
  h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Footer and Navbar Padding Adjustments */
  footer, .navbar {
    padding: 10px 20px;
  }
  